<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye-M-See Games</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Eye <span class="emphasize">M</span> See Games</h1>
        </div>

        <div class="bottom-buttons">
            <button onclick="location.href='/leaderboard'">Leaderboard</button>
            <div class="username-container">
                <input type="text" id="username" class="username-input" placeholder="username_" />
                <button id="enter-button" onclick="confirmUsername()">Enter</button>
            </div>
        </div>

        <div class="game-grid">
            <button id="memory-button" class="game-button">Memory</button>
            <button id="reaction-button" class="game-button">React</button>
        </div>
    </div>

    <script src="/static/main.js"></script>
</body>
</html>
