<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
    <link rel="stylesheet" href="/static/memory_game.css">
</head>
<body>
    <div id="gameContainer">
        <div id="timerDisplay"></div>
        <canvas id="gameCanvas"></canvas>
        <div id="introDisplay" class="overlay"></div>
        <div id="feedbackOverlay"></div>
        <div id="countdownDisplay" class="overlay"></div>
    </div>

    <script type="module" src="/static/memory_game.js"></script>
</body>
</html>